/* //////////  Common  ///////////// */

input[type=text] {
  border: none;
  outline: none;

}

input[type=text]:focus {
  border: none;
  outline: none;

}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}


/* //////////  Home  ///////////// */

.main-body {
  display: flex;
  width: 80%;
  margin: 0 10%;
}

.searchTweets {
  font-size: 120%;
  padding: 20px;
}

.searchCont {
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 20px;
}

/* //////////  EachPost  ///////////// */

.bannerCont {
  border: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
}

.img {
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  width: 100%;
}

.wrapper {
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.each-post {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.eachPostImg {
  border-radius: 50%;
  background-color: gray;
  height: 50px;
  width: 50px;
}

.post-user-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-body-cont {
  padding: 10px 20px 0px 20px;
  width: 100%;
}


.post-body {
  padding-bottom: 30px;
}

.each-post:hover {
  background-color: rgb(231, 229, 229);
}

.post-heading {
  display: flex;
  align-items: center;
}

.post-heading p {
  padding: 0;
  margin: 0;
}

.post-user-sub1 {
  padding-right: 10px;
  font-size: 110%;
}

.post-user-sub2 {
  padding-right: 10px;
  font-size: 90%;
  color: gray;
}

.verfiedDiv {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  margin: 0 10px;
}

.verfiedImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* //////////  Main  ///////////// */
.main {
  width: 100%;
  /* padding-left: 5%; */
  /* padding-top: 5%; */
}


/* //////////  Navigation  ///////////// */

.navigation {
  padding-top: 3%;
  width: 25%;
  height: 100vh;
  border-right: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0;
  left: 0;
}

.navigation-cont {
  flex-direction: column;
  height: 100%;
  padding-right: 10%;
}

.nav-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 150%;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}

.nav-item p {
  margin-bottom: 0;
}

.nav-item:hover {
  background-color: rgb(231, 229, 229);
}

.nav-icon {
  margin-left: 10px;
  margin-right: 15px;
}


/* //////////  PostFooter  ///////////// */

.post-footer-item {
  flex-grow: 1;
  min-width: 70px;
}

.post-footer-icon {
  padding-right: 10px;
}


/* //////////  Search  ///////////// */

.input-text {
  padding: 10px 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid rgb(211, 211, 211);
  display: flex;
  justify-content: center;
}

.searchIcon {
  font-size: 150%;
  margin-right: 20px;
}

.clearSearchIcon {
  cursor: pointer;
  font-size: 150%;
}

/* //////////  Media  ///////////// */

@media only screen and (max-width: 992px) {
  .main-body {
    width: 100%;
    margin: 0;
  }

  .navigation {
    width: 10%;
    min-width: fit-content;
  }

  .nav-desc {
    display: none;
  }


}

@media only screen and (max-width: 768px) {
  .extra {
    display: none;
  }
}