.main-body {
  display: flex;
  width: 80%;
  margin: 0 10%;
}

.navigation {
  padding-top: 3%;
  width: 25%;
  height: 100vh;
  border-right: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0;
  left: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 150%;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}

.nav-item p {
  margin-bottom: 0;
}

.nav-item:hover {
  background-color: rgb(231, 229, 229);
}

.nav-icon {
  margin-left: 10px;
  margin-right: 15px;
}

.main {
  width: 100%;
  /* padding-left: 5%; */
  /* padding-top: 5%; */
}

.input-text {
  padding: 10px 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid rgb(211, 211, 211);
  display: flex;
  justify-content: center;
}

.img {
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  width: 100%;
}

.wrapper {
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.each-post {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.each-post:hover {
  background-color: rgb(231, 229, 229);
}

.post-heading {
  display: flex;
  align-items: center;
}

.post-heading p {
  padding: 0;
  margin: 0;
}

.post-footer-item {
  flex-grow: 1;
}

.post-footer-icon {
  padding-right: 10px;
}

.extra {
  width: 25%;
  border-left: 1px solid rgb(211, 211, 211);
}


input[type=text] {
  border: none;
  outline: none;

}

input[type=text]:focus {
  border: none;
  outline: none;

}

a {
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .main-body {
    width: 100%;
    margin: 0;
  }

  .navigation {
    width: 10%;
    min-width: fit-content;
  }

  .nav-desc {
    display: none;
  }


}

@media only screen and (max-width: 768px) {
  .extra {
    display: none;
  }
}